<div class="user-details">
  <h1>{{ site.user_description_title}}</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <img src="assets/svg/Microsoft_logo.svg" width="60px">
    <img src="assets/svg/Bootstrap.svg" width="60px">
    <img src="assets/svg/logo-jquery.svg" width="60px">
    <p>J'utilise les Razors Pages de Microsoft, Bootstrap et JQuery.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <img src="assets/svg/dotnet.svg" width="60px">
    <img src="assets/svg/NET_Core_Logo.svg" width="60px">
    <p>Je développe en C# avec les Frameworks DotNet et DotNetCore avec Entity Framework pour l'accès aux données.</p>
  </div>
  <div class="tech">
    <h2>Outils</h2>
    <img src="assets/svg/Visual_Studio_2013_Logo.svg" width="60px">
    <img src="assets/svg/git-icon.svg" width="60px">
    <img src="assets/svg/sql-server-logo.svg" width="60px">
    <p>Visual Studio, Git et SQL Server Management Studio.</p>
  </div>
</div>